
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<script type="text/javascript" src="~/Scripts/jquery-3.4.1.js"></script>
<div class="container">
    <div class="row thumbnail">

        <div class="container">
            <center>
                <h1>Captura y guardado de foto en dispositivo</h1>
                <div class="row thumbnail" style="background-color:black;">
                    <div class="col-lg-6">
                        <br />
                        <div class="thumbnail">
                            <!-- Stream video via webcam -->
                            <video id="video" playsinline autoplay></video>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <br />
                        <div class="thumbnail ">
                            <!-- Webcam video snapshot -->
                            <canvas id="myCanvas" width="250" height="250"></canvas>
                        </div>
                    </div>
                    <select name="select" id="audioSource"></select><br />
                    <select name="select" id="videoSource"></select><br />
            </center>
        </div>

        <div class="container">
            <center>
                <div class="row thumbnail">
                    <!-- Trigger canvas web API -->
                    <button id="snap" type="button">
                        <span class="glyphicon glyphicon-camera"></span> Tomar foto
                    </button>
                    <button id="btnDownload" type="button">
                        <span class="glyphicon glyphicon-download-alt"></span> Guardar
                    </button>
                    <img src="" id="imgConverted" style="float: left; border: 2px solid #00f; margin-left: 10px;">
                </div>
            </center>
        </div>

    </div>
</div>

<div class="container">
    <div class="row thumbnail">
        <div class="container">
            <center>
                <h1>Carga y guardado de imagen en DataBase</h1>
                <div class="row thumbnail">
                    <form id="AddNewStudent" method="post" enctype="multipart/form-data" onsubmit="return AjaxPost(this)">
                        <label>1ro carga foto:</label>
                        <input id="ImageUpload" name="ImageUpload" class="form-control" type="file" />

                        <button class="btn btn-Danger" style="width:100%;margin-top:10px;">Add</button>
                    </form>
                </div>
                <div class="row thumbnail">
                    <div class="container">
                        <div class="row">
                            <label>2do busca foto:</label>
                            <br />  +----
                            <img id="imgViewer" width="200" height="200" style="border: 1px solid #000000;" />

                        </div>
                        <div class="row">
                            <button id="btnRead" class="btn btn-Danger" style="width:100%;margin-top:10px;">Read Information</button>

                        </div>
                    </div>
                </div>
            </center>
        </div>
    </div>
</div>
<script>
    'use strict';
    function AjaxPost(formData) {

        var ajaxConfig = {
            type: "POST",
            url: "/Camara/GuardarImagen",
            data: new FormData(formData),
            success: function (result) {
                alert(result);
                window.location.href = "/Camara/GuardarImagen";
            }
        }
        if ($(formData).attr('enctype') == "multipart/form-data") {
            ajaxConfig["contentType"] = false;
            ajaxConfig["processData"] = false;
        }
        $.ajax(ajaxConfig);
        return false;
    }

    $("#btnRead").click(function () {
        $.ajax({
            type: "GET",
            url: "/Camara/GetImageCamara",
            success: function (data) {
                $("#imgViewer").attr("src", "data:image/jpg;base64," + data.ImageUpload + "");
            },
            error: function (data) {
                console.log('Error:', data);
            }
        });
    });

    var videoElement = document.querySelector('video');
    var audioSelect = document.querySelector('select#audioSource');
    var videoSelect = document.querySelector('select#videoSource');
    const snap = document.getElementById("snap");

    audioSelect.onchange = getStream;
    videoSelect.onchange = getStream;

    getStream().then(getDevices).then(gotDevices);

    function getDevices() {
        // AFAICT in Safari this only gets default devices until gUM is called :/
        return navigator.mediaDevices.enumerateDevices();
    }

    function gotDevices(deviceInfos) {
        window.deviceInfos = deviceInfos; // make available to console
        console.log('Available input and output devices:', deviceInfos);
        for (const deviceInfo of deviceInfos) {
            const option = document.createElement('option');
            option.value = deviceInfo.deviceId;
            if (deviceInfo.kind === 'audioinput') {
                option.text = deviceInfo.label || `Microphone ${audioSelect.length + 1}`;
                audioSelect.appendChild(option);
            } else if (deviceInfo.kind === 'videoinput') {
                option.text = deviceInfo.label || `Camera ${videoSelect.length + 1}`;
                videoSelect.appendChild(option);
            }
        }
    }

    function getStream() {
        if (window.stream) {
            window.stream.getTracks().forEach(track => {
                track.stop();
            });
        }
        const audioSource = audioSelect.value;
        const videoSource = videoSelect.value;
        const constraints = {
            audio: { deviceId: audioSource ? { exact: audioSource } : undefined },
            video: {
                deviceId: videoSource ? { exact: videoSource } : undefined,
                width: 250, height: 250
            }
        };
        return navigator.mediaDevices.getUserMedia(constraints).
            then(gotStream).catch(handleError);
    }

    function gotStream(stream) {
        window.stream = stream; // make stream available to console
        audioSelect.selectedIndex = [...audioSelect.options].
            findIndex(option => option.text === stream.getAudioTracks()[0].label);
        videoSelect.selectedIndex = [...videoSelect.options].
            findIndex(option => option.text === stream.getVideoTracks()[0].label);
        videoElement.srcObject = stream;
    }

    function handleError(error) {
        console.error('Error: ', error);
    }

    // Draw image
    var context = myCanvas.getContext('2d');
    snap.addEventListener("click", function () {
        context.drawImage(video, 0, 0, 250, 250);//(obeto,ubicacionHorizontal,ubicacionVertical,altura,anchura)
    });

    const btnDownload = document.getElementById('btnDownload');
    const imgConverted = document.getElementById('imgConverted');

    document.body.appendChild(imgConverted);

    btnDownload.addEventListener("click", function () {
        if (window.navigator.msSaveBlob) {
            window.navigator.msSaveBlob(myCavas.msToBlob(), "canvas-image.png")
        } else {
            const a = document.createElement("a");

            document.body.appendChild(a);
            a.href = myCanvas.toDataURL("image/jpeg");
            a.download = "canvas-image.jpg";
            a.click();
            document.body.removeChild(a);
        }
    });


    function submitform() {
        var postdata = $('#login-form').serialize();
        var file = document.getElementById('files').files[0];
        var username = document.getElementById('username').value;
        var password = document.getElementById('password').value;
        var fd = new FormData();
        fd.append("files", file);
        fd.append("username", username);
        fd.append("password", password);
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/Home/AddItem", false);
        xhr.send(fd);

    }

</script>

<script type="text/javascript">

</script>
